binary
einops
fastapi
huggingface_hub
librosa
matplotlib
numpy
openai
patch
pesq
Pillow
pydantic
pystoi
pytorch_lightning
PyYAML
Requests
scipy
soundfile
torch
torchaudio
tqdm
transformers
uvicorn
wandb
