binary
einops
fairseq
fastapi
huggingface_hub
librosa
matplotlib
numpy
opencv_python
opencv_python_headless
patch
pesq
Pillow
pyaudio
pydantic
PyQt5
pystoi
pytorch_lightning
PyYAML
Requests
scipy
soundfile
tqdm
transformers
uvicorn
wandb